<%- include('header') -%>

<%- include('site-navigation') -%>

  <h2>
    <%- page.title %>
  </h2>

  <div id="content">
    <%- page.content %>
  </div>

  <div class="image-copyright">
    <p>
      Image is copyright of <%- page.copyright %>
    </p>
  </div>

<%- include('footer') -%>
